#seventh {
  border-top: 0.2rem solid color(sfc);
  background-color: color(nb);
  overflow: hidden;
}

.footer__container {
  height: 25vh;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;

  &-copyright {
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    color: color(sfc);
    letter-spacing: .1rem;

    a {
      color: color(sfc);
      text-decoration: none;
    }
  }

  &__boxes {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

    &-one {
      height: 5.1rem;
      width: 5rem;
      background-color: lighten(color(nb), 10%);
      justify-self: center;
      align-self: center;
      transition: all .3s;
    }

    &-two {
      height: 5.1rem;
      width: 5rem;
      background-color: lighten(color(nb), 10%);
      justify-self: center;
      align-self: center;
    }

    &-three {
      height: 5.1rem;
      width: 5rem;
      background-color: lighten(color(nb), 10%);
      justify-self: center;
      align-self: center;
    }

    &-four {
      height: 5.1rem;
      width: 5rem;
      background-color: lighten(color(nb), 10%);
      justify-self: center;
      align-self: center;
    }
  }
}

.icon_footer {
  color: color(sfc);
  font-size: 3rem;
  margin-top: 1rem;
  transition: all .3s;
}