.landingPage {
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
    &__intro--one {
        margin-bottom: 11.5rem;
        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        &-name {}
    }
    &__intro--two {
        animation-name: moveInRight;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
    }
    &__btn {
        margin-top: 13rem;
    }
}