$colors: ( pfc: #fff, // primary font color (landing page main font color, button border color, )
sfc: rgb(23, 112, 184), // secondary font color (landing page name font color, button hover text and border color)
shadow: #000, // color of shadow (button_)
nb: #000, // navigation background color
bg_one:#f7f7f7, // background color (about)
gradient1:#2B4162, // gradient color one (heading)
gradient2:#12100E, // gradient color two (heading)
bc:#fff, // box color (about section)
lb:rgb(255, 255, 0) // lighbulb hover
);